name: CI

on:
  push:
    branches:
      - master
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: '40 8 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Build and deploy
        run: ./infra/build/build.sh ${{ secrets.ID_RSA_CONTENTS_BASE64 }} ${{ secrets.DOCKER_CONFIG_CONTENTS_BASE64 }}
        env:
          GIT_REPO_URL: 'git@github.com:ScottG489/conjob.git'
          RELATIVE_SUB_DIR: 'infra/build'

  build_application:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Build and deploy
      run: |
        ./build.sh \
        deploy \
        ${{ secrets.ID_RSA_CONTENTS_BASE64 }} \
        ${{ secrets.DOCKER_CONFIG_CONTENTS_BASE64 }} \
        ${{ secrets.AWS_CREDENTIALS_CONTENTS_BASE64 }} \
        ${{ secrets.MAINKEYPAIR_CONTENTS_BASE64 }} \
        ${{ secrets.ADMIN_USERNAME }} \
        ${{ secrets.ADMIN_PASSWORD }} \
        ${{ secrets.DOCKER_USERNAME }} \
        ${{ secrets.DOCKER_PASSWORD }} \
        ${{ secrets.KEYSTORE_PASSWORD }}
