name: PR CI

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1
      - name: Build and push image which app build runs on
        run: ./infra/build/build.sh ${{ secrets.ID_RSA_CONTENTS_BASE64 }} ${{ secrets.DOCKER_CONFIG_CONTENTS_BASE64 }}
        env:
          GIT_REPO_URL: 'git@github.com:ScottG489/conjob.git'
          RELATIVE_SUB_DIR: 'infra/build'

  test_application:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1
    - name: Build and test
      run: |
        ./build.sh \
        test \
        ${{ secrets.ID_RSA_CONTENTS_BASE64 }} \
        ${{ secrets.DOCKER_CONFIG_CONTENTS_BASE64 }} \
        ${{ secrets.AWS_CREDENTIALS_CONTENTS_BASE64 }} \
        ${{ secrets.MAINKEYPAIR_CONTENTS_BASE64 }} \
        ${{ secrets.ADMIN_USERNAME }} \
        ${{ secrets.ADMIN_PASSWORD }} \
        ${{ secrets.DOCKER_USERNAME }} \
        ${{ secrets.DOCKER_PASSWORD }} \
        ${{ secrets.KEYSTORE_PASSWORD }}
